.fs-12 {
  font-size: 12px;
}
.pgh-m-b {
  margin-bottom: 0;
}
p {
  color: black;
}
.shop-now {
  color: white;
  transition: 200ms ease-in;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.shop-now:hover {
  color: rgba(132, 132, 132, 1);
  border-bottom: 1px solid rgba(132, 132, 132, 1);
}
.p-header {
  padding: 9px 20px 9px 0;
}
.header {
  padding: 15px 0;
}
a {
  padding: 10px;
}
.first-slide,
.second-slide {
  line-height: 1.1;
  font-weight: bold;
}
.text-wrapper h1 {
  font-size: 57px;
  font-weight: 400;
  color: black;
  letter-spacing: 0.2rem;
}

.letter {
  display: inline-block;
  transform-style: preserve-3d;
}
.same-animation {
  display: inline-block;
}
.text-wrapper {
  display: block;
  overflow: hidden;
  letter-spacing: 0; /* error in style when you put .5 rem*/
}
.line {
  display: inline-block;
  padding: 0;
}
.free-ship {
  color: black;
  font-weight: bold;
}
/* Mobile */
@media screen and (max-width: 767px) {
  .text-wrapper h1 {
    font-size: 25px;
  }
  .sliders p {
    font-size: 15px;
    margin: 0;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .text-wrapper h1 {
    font-size: 38px;
  }
  p {
    font-size: 13px;
    margin: 0;
  }
}
