.fs-12 {
  font-size: 12px;
}
.pgh-m-b {
  margin-bottom: 0;
}

.shop-now-h {
  color: white;
  transition: 200ms ease-in;
  text-decoration: none;
  position: relative;
}
.above-header .content .shop-now-h:hover {
  color: rgba(132, 132, 132, 1);
}
.shop-now-h::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(132, 132, 132, 1);
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.shop-now-h:hover::before {
  width: 100%;
  left: 0;
}
.shop-now {
  color: white;
  transition: 200ms ease-in;
  text-decoration: none;
  position: relative;
}
.banner-three .shop-now::before {
  background-color: white;
}
.shop-now::before {
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.shop-now:hover::before {
  width: 0%;
  left: 0;
}

.home {
  color: black;
  text-decoration: none;
}

.side:hover {
  color: rgba(132, 132, 132, 1);
}
.side:hover a {
  color: rgba(132, 132, 132, 1);
  text-decoration: underline;
}
.about:hover {
  color: rgba(132, 132, 132, 1);
  text-decoration: underline;
}
.contact:hover {
  color: rgba(132, 132, 132, 1);
  text-decoration: underline;
}
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.carousel-item {
  height: 500px;
}
.carousel-item img {
  height: 100%;
  object-fit: contain;
}
.carousel-item .d-flex {
  height: 100%;
}
.h-slide {
  font-size: 4rem;
  color: black;
}

.items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.items .item-info :first-child {
  margin: 0;
  font-weight: bold;
}
.layer {
  display: none;
  background-color: rgba(117, 117, 117, 0.5);
}

.items:hover .layer,
.items:hover svg {
  display: block !important;
}
.items:hover img {
  transform: scale(1.1);
}
.category-items {
  overflow-x: auto;
}
.img-div .banner-one img {
  position: absolute;
}
/* Banners Style */
.banners-div {
  height: 120vh;
}
.banners {
  height: 100vh;
}
.section-two {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #ffd5c9;
  height: 20vh;
}
.section-two img {
  position: absolute;
  top: 0;
  right: 0;
  transition: ease 400ms all;
}

.banner-one:hover .shop-now::before {
  width: 0%;
  left: 0;
}

.banner-one:hover .shop-now::before {
  width: 0%;
  left: 0;
}

.banner-two {
  background-image: url("../images/Home/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.banner-two:hover .shop-now::before {
  width: 0%;
  left: 0;
}
.banner-three {
  background-image: url("../images/Home/banner-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.banner-three p,
.banner-three h1,
.banner-three a {
  color: white;
}
.banner-three:hover .shop-now::before {
  width: 0%;
  left: 0;
}
/* End Banners Style */
/* Start Products Style */
.cardContainer {
  height: 60vh;
  max-height: 500px;
}
.card {
  background-size: cover;
  height: 80%;
  background-position-x: center;
  background-repeat: no-repeat;
  transition: 400ms ease all;
}
.cardContainer .icons a {
  transition: 400ms ease all !important;
}
.cardContainer .card:hover .icons a {
  display: block !important;
}
.cardContainer .card-button :hover {
  color: white !important;
  background-color: red !important;
}
.cardContainer :hover .card-button {
  display: block !important;
}
#chair {
  background-image: url("../images/Home/Product\ 1.jpg");
}
#chair:hover {
  background-image: url("../images/Home/hover-Product\ 1.jpg");
}
#cupboard {
  background-image: url("../images/Home/Product\ 2.jpg");
}
#cupboard:hover {
  background-image: url("../images/Home/hover-Product\ 2.jpg");
}
#bed {
  background-image: url("../images/Home/Product\ 3.jpg");
}
#bed:hover {
  background-image: url("../images/Home/hover-Product\ 3.jpg");
}
#floor-lamp {
  background-image: url("../images/Home/Product\ 4.jpg");
}
#floor-lamp:hover {
  background-image: url("../images/Home/hover-Product\ 4.jpg");
}
#garden-chair {
  background-image: url("../images/Home/Product\ 5.jpg");
}
#garden-chair:hover {
  background-image: url("../images/Home/hover-Product\ 5.jpg");
}
#led-steel {
  background-image: url("../images/Home/Product\ 6.jpg");
}
#led-steel:hover {
  background-image: url("../images/Home/hover-Product\ 4.jpg");
}
#teak-chair {
  background-image: url("../images/Home/Product\ 7.jpg");
}
#teak-chair:hover {
  background-image: url("../images/Home/hover-Product\ 7.jpg");
}
.cardContainer p {
  margin: 0 !important;
}
.cardContainer .card + p {
  padding-top: 10px;
}
.cardContainer div:nth-child(3) {
  padding-top: 0.25rem;
}
.cardContainer .hot {
  left: 15px;
  top: 15px;
  background-color: red;
}
.cardContainer .hot p {
  font-size: 12px;
}
.cardContainer .sale {
  left: 60px;
  top: 15px;
}
.cardContainer .sale p {
  font-size: 12px;
}
/* End Products Style */
/* Start Blog Style */
.blog-content .blog-one img {
  width: 100%;
}
.blog-content .blog-two img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
/* End Blog Style */
/* Start video style */
.videoDiv video {
  height: 600px;
  object-fit: cover;
}
.videoDiv-layer {
  background-color: rgba(91, 89, 86, 0.5);
  height: 99%;
}
.videoDiv-layer h1 {
  color: rgb(167 166 166);
  font-size: 6rem;
  letter-spacing: 0.3em;
}
/* End video style */
/* Start footer style */
.input-group input {
  background-color: #ededed;
  border: none;
}
.sub button {
  border: black solid 1px;
}
/* End footer style */
/* Mobile */
@media screen and (max-width: 767px) {
  .content .left a {
    font-size: 12px;
  }
  .content .left p {
    font-size: 13px;
  }
  .carousel-item img {
    width: 300px;
    height: 300px;
  }
  .h-slide {
    font-size: 2rem;
  }
  .card {
    height: 70%;
  }
  .cardContainer {
    height: 50vh;
  }
  .videoDiv video {
    height: 30vh;
  }
  .videoDiv-layer{
    height: 97%;
  }
  .videoDiv-layer h1 {
    font-size: 4rem;
  }

}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  p {
    font-size: 15px;
  }
  .h-slide {
    font-size: 2.5rem;
  }
  .card {
    height: 80%;
  }
  .cardContainer {
    height: 50vh;
  }
  .videoDiv video {
    height: 50vh;
  }
  .videoDiv-layer{
    height: 98.2%;
  }
}
