.fs-12 {
  font-size: 12px;
}
.pgh-m-b {
  margin-bottom: 0;
}

.shop-now-h {
  color: white;
  transition: 200ms ease-in;
  text-decoration: none;
  position: relative;
}
.above-header .content .shop-now-h:hover {
  color: rgba(132, 132, 132, 1);
}
.shop-now-h::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(132, 132, 132, 1);
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.shop-now-h:hover::before {
  width: 100%;
  left: 0;
}
.shop-now {
  color: white;
  transition: 200ms ease-in;
  text-decoration: none;
  position: relative;
}
.banner-three .shop-now::before {
  background-color: white;
}
.shop-now::before {
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.shop-now:hover::before {
  width: 0%;
  left: 0;
}

.home {
  color: black;
  text-decoration: none;
}

.home:visited {
  /* color: rgba(132, 132, 132, 1); */
  text-decoration: underline;
}
.side:hover {
  color: rgba(132, 132, 132, 1);
}
.side:hover a {
  color: rgba(132, 132, 132, 1);
  text-decoration: underline;
}
.about:hover {
  color: rgba(132, 132, 132, 1);
  text-decoration: underline;
}
.contact:hover {
  color: rgba(132, 132, 132, 1);
  text-decoration: underline;
}
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.carousel-item {
  height: 500px;
}
.carousel-item img {
  height: 100%;
  object-fit: contain;
}
.carousel-item .d-flex {
  height: 100%;
}
.h-slide {
  font-size: 4rem;
  color: black;
}

.items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.items .item-info :first-child {
  margin: 0;
  font-weight: bold;
}
.items img {
  border-radius: 50%;
}
.category-items {
  overflow-x: auto;
}
.img-div .banner-one img {
  position: absolute;
}
/* Banners Style */
.section-two {
  position: relative;
  height: 25vh;
  overflow: hidden;
  margin-bottom: 20px;
}
.section-two img {
  position: absolute;
  top: -3.8rem;
  right: 0;
  transition: ease 400ms all;
}
.section-two:hover img {
  top: -1rem;
}
.banner-one:hover .shop-now::before {
  width: 0%;
  left: 0;
}
.banner-one img {
  transition: ease 400ms all;
}
.banner-one:hover .shop-now::before {
  width: 0%;
  left: 0;
}
.banner-one:hover img {
  transform: scale(1.1);
}
.banner-two {
  background-image: url("../images/Home/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.banner-two:hover .shop-now::before {
  width: 0%;
  left: 0;
}
.banner-three {
  background-image: url("../images/Home/banner-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.banner-three p,
.banner-three h1,
.banner-three a {
  color: white;
}
.banner-three:hover .shop-now::before {
  width: 0%;
  left: 0;
}
/* End Banners Style */

/* Mobile */
@media screen and (max-width: 767px) {
  .content .left a {
    font-size: 12px;
  }
  .content .left p {
    font-size: 13px;
  }
  .carousel-item img {
    width: 300px;
    height: 300px;
  }
  .h-slide {
    font-size: 2rem;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  p {
    font-size: 15px;
  }
  .h-slide {
    font-size: 2.5rem;
  }
}
